<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <main>
        <div>
            <h1><%= title %></h1>
        </div>

        <div class="main-customers">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <% for (let i = 0; i < productsupplierlist.length; i++) { %>
                    <tr>
                        <td><%= productsupplierlist[i]['supplier_name'] %></td>
                        <td><%= productsupplierlist[i]['supplier_addr'] %></td>
                        <td><%= productsupplierlist[i]['phone'] %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
    </main>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
</body>

</html>